<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.whatsdesigns.prod</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/joelbiz/dev/whatsdesigns/scripts/start-prod.sh</string>
        <string>start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/joelbiz/dev/whatsdesigns/logs/prod-error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/joelbiz/dev/whatsdesigns/logs/prod-output.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>WorkingDirectory</key>
    <string>/Users/joelbiz/dev/whatsdesigns</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/joelbiz/.nvm/versions/node/v20.19.0/bin</string>
    </dict>
</dict>
</plist> 